body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Poiret One', cursive;
    color:wheat;
    background-image: url("https://images.unsplash.com/photo-1566228015668-4c45dbc4e2f5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80");
    background-size: cover;
    background-repeat: no-repeat;
}
h1{
    color: red;
    font-size: 50px;
}


.container{
    margin-top: 50px;
    display: flex;
    width: 1060px;
    height: 1060px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.box{
    font-size: 150px;
    display: flex;
    width: 200px;
    height: 200px;
    justify-content: center;
    align-items: center;
}

.right-border{
    border-right: 15px ridge whitesmoke;
}
.bottom-border{
    border-bottom: 15px ridge whitesmoke;
}


.result{
    border: 15px outset wheat;
    width: 930px;
    height: 300px ;
    text-align: center;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size:50px;
    position: absolute;
    background-color: green;
}

.visble{
    display: block;
}

.invisble{
    display: none;
}

button{
    border: 2px outset wheat;
    font-size: 30px;
    background-color: red;

}

.X-hover:hover::after{
    content: "X";
}
.O-hover:hover::after{
    content:"O";
}
#count{
    font-size: 100px;
    border: 5px outset wheat;
    background-color: red;
    margin-top: 20px;
    position:absolute;
    top: 30px;
    right:600px;
}



a {
    margin-top: 100px;
     font-size: 20px;
     border: 5px outset wheat;
     padding: 20px;
     text-decoration: none;
     background-color: red;
     font-weight: bolder;
     position: absolute;
     top: 1100px;
     right: 150px;
}
