body{
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    font-family: 'Poiret One', cursive;
    color:black;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("https://www.cas.org/sites/default/files/styles/promo_hero/public/2018-09/humans_and_big_data.jpg?itok=UI36_Ygz");
}
h1{

    font-size: 50px;
}


.container{
    margin-top: 50px;
    display: flex;
    width: 930px;
    height: 930px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.box{
    font-size: 150px;
    display: flex;
    width: 300px;
    height: 300px;
    justify-content: center;
    align-items: center;
}

.right-border{
    border-right: 15px ridge lightblue;
}
.bottom-border{
    border-bottom: 15px ridge lightseagreen;
}


.result{
    border: 15px outset white;
    width: 930px;
    height: 300px ;
    text-align: center;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size:50px;
    position: absolute;
    background: green;
}

.visble{
    display: block;
}

.invisble{
    display: none;
}

button{
    border: 2px outset white;
    font-size: 30px;
    background-color: red;

}

.X-hover:hover::after{
    content: "X";
}
.O-hover:hover::after{
    content:"O";
}

#count{
    font-size: 100px;
    border: 5px outset white;
    background-color: red;
    position:absolute;
    top: 30px;
    right:700px;

}

a {
    margin-top: 100px;
     font-size: 20px;
     border: 5px outset white;
     padding: 20px;
     text-decoration: none;
     background-color: lightseagreen;
     font-weight: bolder;

}
